@page "/hello-world"

<h1>Frameworks</h1>

<EditForm Model="NewFramework" OnValidSubmit="AddFramework">

    <ol>
        <li>
            <label>Naam:</label>
            <input @bind-value="NewFramework.Name">
        </li>
        <li>
            <label>Cijfer:</label>
            <input @bind-value="NewFramework.Grade">
        </li>
        <li>
            <label>Logo:</label>
            <input @bind-value="NewFramework.Logo">
        </li>
        <li>
            <button>Voeg framework toe</button>
        </li>
    </ol>

	@NewFramework.Name krijgt een @NewFramework.Grade

</EditForm>



<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Naam</th>
			<th>Cijfer</th>
			<th>Logo</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var framework in Frameworks)
		{
			<tr>
				<td>@framework.Id</td>
				<td>@framework.Name</td>
				<td>@framework.Grade</td>
				<td><img src="@framework.Logo"></td>
			</tr>
		}
	</tbody>
</table>
