@page "/hello-world-grpc"

<h1>Frameworks</h1>

<EditForm Model="NewFramework" OnValidSubmit="AddFramework">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <ol>
        <li>
            <label>Naam:</label>
            <InputText @bind-Value="NewFramework.Name" />
            <ValidationMessage For="@(() => NewFramework.Name)" />
        </li>
        <li>
            <label>Cijfer:</label>
            <InputNumber @bind-Value="NewFramework.Grade" />
            <ValidationMessage For="@(() => NewFramework.Grade)" />
        </li>
        <li>
            <label>Logo:</label>
            <InputText @bind-Value="NewFramework.Logo" />
            <ValidationMessage For="@(() => NewFramework.Logo)" />
        </li>
        <li>
            <button>Voeg framework toe</button>
        </li>
    </ol>

    @NewFramework.Name krijgt een @NewFramework.Grade
</EditForm>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Cijfer</th>
            <th>Logo</th>
        </tr>
    </thead>
    <tbody>
        @if (Frameworks == null)
        {
            <tr>
                <td colspan="4">Nog geen data</td>
            </tr>
        }
        else
        {
            @foreach (var framework in Frameworks)
            {
                <tr>
                    <td>@framework.Id</td>
                    <td>@framework.Name</td>
                    <td>@framework.Grade</td>
                    <td><img src="@framework.Logo"></td>
                </tr>
            }
        }
    </tbody>
</table>
